{% extends 'main/main.html' %} {% load static %}
<hr />
{% load crispy_forms_tags %} {% block content %}
<title>Enter new password</title>
<div class="container py-5 mt-5">
  <div class="row">
    <div class="mx-auto" style="width: 450px">
      <h4>Enter new Password</h4>
      <p>kindly enter the new password twice and make sure the two match.</p>
      <form action="" method="post">
        {% csrf_token %} {{form|crispy}}
        <input type="submit" value="Update password" class="btn btn-success" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
