{% extends 'main/main.html' %} {% load static %} {% block content %}
<title>Link Sent</title>
<div class="container py-5 mt-5">
  <div class="row">
    <div class="mx-auto" style="width: 450px">
      <h3>Password reset link sent</h3>
      <p>
        We've emailed you instructions for setting your password if an account
        exists with email you entered.
      </p>
      <p>
        Kindly check the spam folder if you have don't see the email and make
        sure it's the right email address.
      </p>
    </div>
  </div>
</div>
{% endblock %}
