{% extends 'main/main.html' %} {% load static %}
<hr />
{% load crispy_forms_tags %} {% block content %}
<title>Enter email to reset Password</title>
<div class="container py-5 mt-5">
  <div class="row">
    <div class="mx-auto" style="width: 500px">
      <form action="" method="post">
        {% csrf_token %}
        <h4>Reset Password</h4>
        <p>
          We have noticed that you are having trouble logging into your account.
          To help you regain access, we have initiated a password reset process.
          <br />
          <br />
          To proceed, please enter your email address associated with your
          account below. We will send you an email with further instructions on
          how to reset your password.
          <br />
          <br />Thank you for your cooperation.
        </p>
        {{form|crispy}}
        <input type="submit" value="Proceed" class="btn btn-success" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
